/* Global Menu */

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid_2_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  row-gap: 1rem;
  justify-content: space-around;
}
.grid_2_2 a {
  grid-column: span 1;
  justify-self: center;
}

/* Produktliste */
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

/* Product */

#product .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  height: fit-content;
}

#product img {
  grid-column: 1 /2;
  grid-row: 1/-1;
}

#product .item1 {
  grid-column: span 1;
  grid-row: span 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

#product .item1 div {
  grid-column: span 1;
}
#product .item1 a {
  grid-column: 1/-1;
  grid-row: 8/9;
}
